<!DOCTYPE html>
<html>
  <head>
    <%include ./include/head_include.ejs %>
    <link rel="stylesheet" href="/stylesheets/list.css">
  </head>
  <body>
    <%include ./include/index_include.ejs%>
    <table border="1" class="table">
        <tr>
            <td>번호</td>
            <td>작성자</td>
            <td>제목</td>
            <td>조회수</td>
            <td>변경일</td>
        </tr>
        <tr>
            <td>결과값이 없습니다.</td>
        </tr>
    </table>

  </body>
</html>
