<!DOCTYPE html>
<html>
  <head>
    <%include ./include/head_include.ejs %>
    <link rel="stylesheet" href="/stylesheets/list.css">
  </head>
  <body>
  <%include ./include/index_include.ejs%>
  </body>
</html>
