<!DOCTYPE html>
<html lang="en">
<head>
	<%include ./include/head_include.ejs %>
	<link rel="stylesheet" href="/stylesheets/list.css">
	<script
		src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
		crossorigin="anonymous"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>

<body>
	<%include ./include/index_include.ejs%>
	<div class="login-row">
		<form action="/login" method="POST" class="login-form">
			<div class="loginWrapper">
				<div>
					<input type="text" name="email" placeholder="E-Mail" class="form-control">
				</div>
				<div class="login-pass">
					<input type="password" name="passwd" placeholder="PASSWORD" class="form-control">
				</div>
			</div>
			<div class="oauth-btnBox">
				<button class="login_btn btn btn-default"  type="submit">Login</button>
				<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Sign-up</button>
			</div>
			<div class="oauth-btnBox">
				<button type="button" class="btn btn-primary" onclick="location.href='/auth/facebook'">Facebook login</button>
			</div>
			<div class="oauth-btnBox">
				<button type="button" class="btn btn-primary" onclick="location.href='/auth/google'">Google login</button>
			</div>
		</form>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="myModalLabel">회원 가입</h4>
					</div>

					<form name="signUpForm" action="/sign-up" method="post">
						<div class="modal-body">
								<div>
									<h4>Email <button type="button" class="btn btn-default">중복확인</button>	</h4>
									<input type="text" name="email" placeholder="ID">
								</div>
								<div>
									<h4>Password</h4>
									<input type="text" name="passwd" placeholder="PASSWORD">
								</div>
								<div>
									<h4>name</h4>
									<input type="text" name="name" placeholder="Email">
								</div>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Sign-up</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>
