<!DOCTYPE html>
<html>
  <head>
    <%include ./include/head_include.ejs %>
    <%include ./include/ckeditor_include.ejs %>
    <script type="text/javascript" src="http://jsgetip.appspot.com"></script>
    <link rel="stylesheet" href="/stylesheets/list.css">
  </head>
  <body>
    <%include index.ejs%>
    <div class="container-fluid">
      <div class="write-row">
        <form method="post" onsubmit="return checkSubmit()">
            <input type="hidden" id="ip" name="ip">
            <input type="hidden" name="name" value="<%=sess.name%>">
            <input type="hidden" name="user_idx" value="<%=sess.idx%>">
            <input type="hidden" name="tag" id="tag">
            <div class="form-group name">
              <label>카테고리</label>

              <div id="beforeoutput">

              </div>
              <div id="tagoutput" class="tagoutput">

              </div>
              <input type="text" class="form-control" placeholder="test" id="taginput" onkeypress="tagsearcher(event)">

            </div>
            <div class="form-group hit">
                <label>제목</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
            </div>
            <div class="form-group date">
                <label>내용</label>
                <textarea id="content" name="content"></textarea>
            </div>
            <button type="submit" class="btn btn-default">완료</button>
        </form>
      </div>
    </div>

    <script>
    var tagList = [];
    var outTagList = [];
    <% for(i=0; i< tag.length; i++){%>
      tagList.push("<%=tag[i].type%>");
    <% } %>


      function tagsearcher(e){

        var input = document.getElementById("taginput").value;
        var text = "";
        var textvalue = "";

        document.getElementById("beforeoutput").innerHTML = input;
        if(window.event.keyCode == 13){
            event.preventDefault();     // 기본 등록되있는 모든 이벤트 삭제
            for(var i in tagList){

              if(tagList[i].match(input) != null){
                var check = tagList[i].match(input);
                var checked = false;
                for(var j in outTagList){
                  if(outTagList[j] == check.input){
                    checked = true;
                    break;
                  }
                }
                if(!checked){
                  outTagList.push(tagList[i]);
                  document.getElementById('taginput').value = "";
                  document.getElementById('taginput').focus();

                }
              }
            }
            console.log(outTagList);
            for(var i in outTagList){
              text +="<button type='button' class='btn btn-primary' id='tagbtn_"+i+"' onclick='deletetag(this)'>"+outTagList[i]+"</button>";
              textvalue += "#"+outTagList[i];
            }
            document.getElementById("tagoutput").innerHTML = text;
            document.getElementById('tag').value = textvalue;
        }
      };

      function deletetag(obj){
        var text = "";
        var textvalue = "";
        var btnary = obj.id.split('_');
        btnidx = btnary[1];
        console.log(btnidx);
        outTagList.splice(btnidx, 1);

        for(var i in outTagList){
              text +="<button type='button' class='btn btn-primary' id='tagbtn_"+i+"' onclick='deletetag(this)'>"+outTagList[i]+"</button>";
              textvalue += "#"+outTagList[i];
            }
        document.getElementById("tagoutput").innerHTML = text;
      };



      // 글쓰기 양식 확인
      function checkSubmit() {
        if ($("#title").val().trim() == "") {
          var message = "제목을 입력해 주세요";
          $("#title").val("");
          $("#title").focus();
          alert(message);
          return false;
        }

        // ckeditor 본문내용 공백체크
        if ($("#cke_1_contents iframe").contents().find("body").text().trim() == "") {
          var message = "본문 내용을 입력해 주세요";
          alert(message);
          console.log($("#cke_1_contents iframe").contents().find("body").text());
          return false;
        }
        return true;
      }

      // ckeditor사용코드
      CKEDITOR.replace('content');

      // 사용자 아이피주소 받기
      document.getElementById('ip').value = ip();

    </script>
</body>

</html>
